.navbar {
  background-color: #FFD700;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-brand {
  color: #8B4513;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.menu-image {
  max-height: 100px;
  width: auto;
  object-fit: cover;
  border-radius: 5px;
}

.list-group-item {
  display: flex;
  align-items: center;
}

.list-group-item {
  border: 1px solid #FFE4B5;
  margin-bottom: 5px;
  background-color: #FFFACD;
}

.container {
  margin-top: 20px;
  margin-bottom: 60px;
}

body {
  background-color: #FFF8DC;
  color: #8B4513;
}

h1, h2 {
  color: #DAA520;
}

footer {
  text-align: center;
  padding: 20px;
  margin-top:10%;
  background-color: #FFD700;
  color: #8B4513;
  bottom: 0;
  width: 100%;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.bubble-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
.bubble-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px; /* Daha geniş */
  height: 100px; /* Daha dikdörtgensel */
  background-color: #ffcc00; /* Parlak sarı */
  color: #6b4f00; /* Koyu kahverengi */
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 15px; /* Hafif yuvarlatılmış köşeler */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center; /* Metni ortala */
  padding: 10px; /* Daha iyi hizalama için iç boşluk */
}
.bubble-button:hover {
  transform: scale(1.05); /* Hafif büyüme efekti */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
.bubble-button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
h1 {
  color: #6b4f00;
  text-align: center;
  margin-top: 20px;
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #ffcc00;
  color: #6b4f00;
  margin-top: 50px;
}
